*,
*::before,
*::after {
    box-sizing: border-box;
}

html, 
body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

/* Typography */

h1 {
    font-size: 1.5rem;
    text-transform: capitalize;
    margin: 0;
}

h2 {
    font-size: 1.5rem;
}

p {
    font-size: 1rem;
    line-height: 1.5;
}

time {
    font-size: 0.875rem;
}

/* Flex Containers */

.hero,
.blog {
    display: flex;
    flex-direction: column;
    padding-left: 1.25em;
    padding-right: 1.25em;
}

/* Nav */ 

nav,
nav .container,
nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.188em;
}

nav {
    font-size: 0.75rem;
    font-weight: bold;
    padding: 0 1.25em;
}

nav ul {
    list-style-type: none;
    gap: 2.5em;
}

nav li {
    text-transform: uppercase;
}

nav img {
    width: 1.438em;
    height: 1.438em;
}

/* Hero */

.hero {
    padding-top: 5.438em;
    color: white;
    min-height: 293px;
    background-color: #888;
    background-blend-mode: multiply;
    background-image: url("/images/article-image-hero.jpg");
    background-size: cover;
}

.hero > time {
    font-size: 0.75rem;
    margin-bottom: 0.5em;
}

/* Blogs */

section > article.blog {
    padding: 1.25em;
    gap: 0.563em;
}

article.blog > img {
    width: 100%;
    margin: 0 auto;
    display: block;
}

article.blog > time {
    display: block;
    text-transform: uppercase;
    margin-top: 0.6em;
}

main > div.view-more-section {
    font-weight: 700;
    color: #000000;
    margin-top: 1em;
    margin-bottom: 2.688em;
    text-align: center;
}

/* Footer */

footer > h2,
footer > p {
    font-size: 0.75rem;
}

footer > p {
    color: #D7D7D7;
}

footer {
    color: #ECECEC;
    padding: 2.313em 0;
    text-align: center;
    background-color: #202020;
}

/* Utility */

.m0 {
    margin: 0;
}