/* TODO
Use React State to add/remove the class "open"

*/

/* NavIcon */

.nav-icon {
    width: 60px;
    height: 45px;
    position: relative;
    margin: 50px auto;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
  }
  
  .nav-icon span {
    display: block;
    position: absolute;
    height: 9px;
    width: 100%;
    background: #d3531a;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }

.nav-icon span:nth-child(1) {
    top: 0px;
}

.nav-icon span:nth-child(2),.nav-icon span:nth-child(3) {
    top: 18px;
}

.nav-icon span:nth-child(4) {
    top: 36px;
}

.nav-icon.open span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
}

.nav-icon.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.nav-icon.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.nav-icon.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
}

.nav-icon-line {
    background-color: black;
}

/* Menu */

div.menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* MenuIcon - HamburgerIcon */

div.hamburger {
    width: 1.5em;
    height: 0.2em;
    background-color: black;
}

/* MenuItem */

a.menu-item-link {
    padding-inline: 1em;
    padding-block: 1.5em;
    border-bottom: 1px solid #cacfd7;
}

a.menu-item-link:hover {
    background-color: #e0e6ef;
}

/* MenuDropdown */

.menu-dropdown {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #ECECEC;
    margin-top: 1em;
}

div.hamburger-container {
    display: flex;
    flex-direction: column;
    gap: 0.3em;
    width: auto;
    margin-left: auto;
    margin-right: 5%;
    cursor: pointer;
}


