/* Menu */

div.menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* MenuIcon - HamburgerIcon */

div.hamburger {
    width: 1.5em;
    height: 0.2em;
    background-color: black;
}

/* MenuItem */

a.menu-item-link {
    padding-inline: 1em;
    padding-block: 1.5em;
    border-bottom: 1px solid #cacfd7;
}

a.menu-item-link:hover {
    background-color: #e0e6ef;
}

/* MenuDropdown */

.menu-dropdown {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #ECECEC;
    margin-top: 1em;
}

div.hamburger-container {
    display: flex;
    flex-direction: column;
    gap: 0.3em;
    width: auto;
    margin-left: auto;
    margin-right: 5%;
    cursor: pointer;
}


