/* Footer */
  
  footer > h2,
  footer > p {
    font-size: 0.75rem;
}
  
  footer > p {
    color: #D7D7D7;
}
  
  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ECECEC;
    padding: 2.313em 0;
    background-color: #202020;
    flex-shrink: 0;
    margin-top: auto;
}
