/* Typography */

h1 {
    font-size: 1.5rem;
    margin: 0;
    padding: 0.333em 0;
}

h2 {
    font-size: 1.5rem;
}

p {
    margin: 0;
}

time {
    font-size: 0.875rem;
}

/* Hero */

.hero {
    flex-direction: column;
    justify-content: end;
    padding-top: 5.438em;
    color: #FCFCFC;
    min-height: 293px;
    background-color: #888;
    background-blend-mode: multiply;
    background-image: url("/images/article-image-hero.jpg");
    background-size: cover;
    background-position: center;
}

.hero > time {
    font-size: 0.75rem;
    margin-bottom: 0.5em;
}

/* Media Queries */

@media (min-width: 620px) {

    section.hero {
        background-image: url("/images/article-image-hero-large.jpg");
        min-height: 391px;
    }
}