/* Typography */

h1 {
    font-size: 2rem;
    margin: 0;
    padding-block: 0.5em;
}

time {
    font-size: 0.75rem;
}

/* Layout */

h3 {
    margin-top: 0;
}

img {
    padding-block: 2.25em;
}

article.content {
    display: flex;
    flex-direction: column;
}
